@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Controller</h1>
        <h1 class="display-4">How to Store Data in File System</h1>
        <h1 class="display-4">How to Retrieve Data from File System</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
